unpackaged/main/default/flows/Agent_Care.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Json_to_Text</name>
        <label>Convert Json to Text</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AgentResponseUtil</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>append_to_history</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>json</name>
            <value>
                <elementReference>varAgentResponse</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AgentResponseUtil</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varAgentMessage</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Invoke_Care_Agent</name>
        <label>Invoke Care Agent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MTN_Care_Access_Agent</actionName>
        <actionType>generateAiAgentResponse</actionType>
        <connector>
            <targetReference>Convert_Json_to_Text</targetReference>
        </connector>
        <dataTypeMappings>
            <apexClass>AgentInvAction__AIAgentCompositeDefault</apexClass>
            <typeName>U__agentResponseApex</typeName>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sessionId</name>
            <value>
                <elementReference>varAgentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userMessage</name>
            <value>
                <stringValue>{!UserPrompt}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>MTN_Care_Access_Agent</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varAgentResponse</assignToReference>
            <name>agentResponse</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varAgentId</assignToReference>
            <name>sessionId</name>
        </outputParameters>
        <versionString>1.1.0</versionString>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>append_to_history</name>
        <label>append to history</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varHistory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_NewHistory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUserPrompt</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Ask_the_MTN_Agent2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assigninput</name>
        <label>assigninput</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varUserPrompt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserPrompt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invoke_Care_Agent</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <formulas>
        <name>f_NewHistory</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!varHistory}),
    &quot;&quot;,
    {!varHistory} &amp; BR() &amp; BR()
  )
  &amp; &quot;You: &quot; &amp; {!varUserPrompt}
  &amp; BR() &amp; &quot;Agent: &quot; &amp; {!varAgentMessage}</expression>
    </formulas>
    <interviewLabel>Agent Care {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agent Care</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Ask_the_MTN_Agent2</name>
        <label>Ask the MTN Agent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assigninput</targetReference>
        </connector>
        <fields>
            <name>showlog</name>
            <fieldText>&lt;p&gt;{!varHistory}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>UserPrompt</name>
            <dataType>String</dataType>
            <fieldText>Ask the MTN Agent</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Send</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ask_the_MTN_Agent2</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAgentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0XxgK000000oUSjSAM</stringValue>
        </value>
    </variables>
    <variables>
        <name>varAgentMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAgentReply</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAgentResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContextJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{&quot;PreferredLanguage&quot;:&quot;en&quot;,&quot;HomeCity&quot;:&quot;Dublin&quot;,&quot;OptInSMS&quot;:true}</stringValue>
        </value>
    </variables>
    <variables>
        <name>varHistory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMapUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPlanTrace</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStructuredJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserPrompt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
